<div class="row mt-4">
  <div class="col-md-6">
      <form class="form new-comment-outline">
         <div class="form-group">
           <label for="opinion-comment">opinion:</label>
           <input class="form-input" type="text" id="opinion-comment" />
         </div>
         <div class="form-group">
           <button class="btn btn-primary" type="submit">Paste</button>
        </div>
      </form>
  </div>
</div>

    <script src="./js/addComment.js"></script>