<h2>Please Login</h2>

<form>
<div class="form-floating loginForm mb-3">
  <input type="text" class="form-control" id="floatingUsername">
  <label for="floatingInput">Username</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
  <span>Password must be at least 6 characters long</span>
</div>
<button type="submit" class="btn btn-primary">Login</button>
</form>

<script src="/Lets_Talk_Tech/public/js/login.js"></script>