{{!-- For for updating existing post --}}
<div class="row d-flex justify-content-center">
  <div class="d-flex flex-column mb-3 w-50">
    <h3 class="text-center text-success titleSize">Update Existing Post:</h3>

<div class="px-5 pt-3" style="background-image: url(''); background-repeat:no-repeat; background-size: contain;">
    <form class="form pb-5 px-5" id="new-post-outline">
      <input type="hidden" id="post-id" value="{{post.id}}"/>
      <div class="form-group">
        <label for="post-title" style="font-weight: bold;">Post Title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" value="{{post.title}}"/>
      </div>
      <div class="form-group">
        <label for="post-content" style="font-weight: bold;">Content:</label>
        <textarea class="form-input" type="text" id="post-content" name="post-content"/>{{post.content}}</textarea>
      </div>
      <div class="form-group d-flex justify-content-center">
        <div>
        <button type="submit" class="btn btn-success">Update Post</button>
        <a href="/profile" type="button" id="" class="btn btn-danger">Cancel</a>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>